<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="/admin.css">

</head>

<body>


    <div class="container">
       

        <div class="centered">
            <p> if you want information of player, please search below by the name.
            </p>
            <img src="images/admin.jpg" alt="">
            <form action="/admin" method="post">
                <input type="text" class="mysearch" name="email" onkeyup="myFunction()" placeholder="Search for player"
                title="Type in a category">
                 <button type="submit" class="search">Search</button>
            </form>
            
           <p> shoja@gmail.com </p>
        </div>



        <img src="/admin.jpg" alt="a man in front of computer">
    </div>


</body>

</html>